VITE_SUPABASE_URL=https://xacjuseefbjvhbwxzbkg.supabase.co
VITE_SUPABASE_ANON_KEY=yeyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhhY2p1c2VlZmJqdmhid3h6YmtnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMyMzQ4NjQsImV4cCI6MjA4ODgxMDg2NH0.lAyKFI83n2v0ztB3jNFc9ow0KSHvoLcWz5YeNQgR1xA
